<!DOCTYPE html>
<html>
<head>
    <title>Scène 1</title>
</head>
<body>
<p>Vous vous promenez dans la forêt, {{ name }} ! Quand soudain.. Une sentinelle apparaît ! Vous avez deux choix :</p>    <!-- Choix multiples pour la scène 1 -->
<p><a href="/scene3?name={{ name }}"><button>Vous courrez le plus vite possible</button></a></p>
<p><a href="/scene4?name={{ name }}"><button>Vous vous cachez derrière un arbre</button></a></p>
<p><a href="/scene2?name={{ name }}"><button>Vous dansez la hula comme un pro</button></a></p>
</body>
</html>
